* {
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:root
{
  --font_title: "Armata";
  --font_main: "Armata";
  --font_long_text: "Armata";
  --font_input: "Armata";

  --color_bcg: rgb(25, 29, 41);
  --color_primary: rgb(42, 50, 75);
  --color_primary_hover: rgb(26, 142, 155);
  --color_secondary: rgb(2, 77, 121);
  --color_secondary_alt: rgb(2, 77, 121);
  --color_tertiary: rgb(26, 142, 155);
  --color_angry: rgb(172, 9, 58);

  --color_text_prim: rgb(255, 255, 255);
  --color_text_sec: rgb(219, 219, 219);
  --color_text_tert: rgba(197, 197, 197, 0.5);
  --color_text_input: rgb(224, 224, 224);
  --color_text_disabled: rgb(255, 255, 255, 0.2);

  --space-cadet: rgb(42, 50, 75);

  --dark-byzantium: #542344ff;
  --desert-sand: #d8bfaaff;
  --gray-web: #808080ff;
}

html
{
  background-color: var(--color_bcg); 
  height: 100%;
  padding:0;
  margin:0;
}

body
{
  font-family:var(--font_main);
  padding:0;
  margin:0;
  height: 100%;
}

#root
{
  height:100%;
  padding:0;
  margin:0;
}

.app
{
  height: 100%;
  padding:0;
  margin:0;
}

button
{
  font-family:var(--font_main);
  color:var(--color_text_prim);
  background-color: var(--color_primary);
  border:none;
  transition: background-color 0.15s;
}

button:focus, button:active
{
  border:none;
}

button:hover
{
  background-color: var(--color_primary_hover);
  cursor:pointer;
}

p
{
  margin:0;
}

.main_header
{
  position: fixed;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:6%;
  top:0;
  background-color: var(--color_secondary);
  z-index: 3;
}

.notice_wrapper
{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.4);
  z-index:999999;
}

.main_content
{
  position: absolute;
  width:100%;
  height:89%;
  top:6%;
  z-index: 1;
}

.main_footer
{
  position: fixed;
  bottom: 0;
  width:100%;
  height:5%;
  background-color: var(--color_secondary_alt);
  z-index: 2;
  color:var(--color_text_tert);
  font-size: 1.5vh;
  text-align:center;
}

h1
{
  font-family: var(--font_title);
  font-size:3vh;
  line-height: 6vh;
  color:white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5%;
}

.main_nav
{
  display:flex;
  justify-content: flex-end;
  height:100%;
}

.header_button
{
  display: inline-block;
  height:100%;
  min-width: 7vw;
  background-color: var(--color_tertiary);
}

.header_button:hover
{
  background-color: var(--color_secondary);
}

.header_tree_title_form
{
  height:100%;
}

.header_tree_title
{
  height:100%;
  width:auto;
  background-color: rgba(255, 255, 255, 0.07);
  border:none;
  padding-left:0.5%;
  padding-right:0.5%;
  text-align: center;
  font-family:var(--font_main);
  color:var(--color_text_prim);
  font-size:24px;
}

/* ====== Start view and contents ====== */

.start_view
{
  margin-left: 20%;
  margin-top: 8%;
  width:60%;
}

.start_box
{
  text-align: center;
  padding-bottom:80px;
}

h2
{
  font-family: var(--font_main);
  color: var(--color_text_prim);
}

.start_desc
{
  font-family: var(--font_long_text);
  color: var(--color_text_prim);
  margin-bottom: 4%;
}

.start_button_tray
{
  font-size: 0; /*a fix for whitespace breaking the fit of inline-block elems*/
}

.start_button_wrapper
{
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0.5%;

  width: 24%;
  height: 220px;
}

.start_button
{
  width:100%;
  height:100%;
  font-size: 16px;
}

.start_button_special
{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.start_button_special input
{
  display:none;
}

.start_button_delete
{
  position: absolute;
  width:35px;
  height:35px;
  top:0;
  right:0;
}

.start_button_delete img
{
  width:90%;
  height: auto;
  filter: invert();
  opacity:0.6;
}

.start_button_delete_confirmation
{
  position: absolute;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  font-size: 14px;
  color: var(--color_text_prim);
  background-color: var(--color_primary);
  padding: 5%;
}

.start_button_delete_confirmation p
{
  margin-bottom: 5%;
}

.start_button_delete_confirmation div
{
  height:20%;
}

.start_button_delete_confirmation button
{
  width:35%;
  height:100%;
}

.confirmation_button_warning
{
  background-color: var(--color_angry);
}
/* ====== Family view and contents ====== */

.family_view
{
  position: relative;
  height:100%;
  /* overflow:auto; */
}

/* Side drawer of family view */
.side_drawer
{
  position: fixed;
  width:27%;
  height: 100%;
  background-color: var(--color_primary);
  color: var(--color_text_prim);
  z-index: 99999;
}

.side_drawer_bar
{
  height:5%;
  font-size: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.side_drawer_content
{
  padding-top:10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 16px;
  height:95%;
  overflow-y:auto;
}

.side_drawer_content_section
{
  margin-bottom: 36px;
}

h3
{
  width:calc(100% - 4vh);
  height: 100%;
  font-size: 18px;
  margin-top:0;
  margin-bottom: 0;
  text-align: center;
  line-height: 4vh;
}

.side_drawer_close_button
{
  position: absolute;
  right:0;
  top:0;
  height: 4vh;
  width: 4vh;
  background-color: var(--color_angry);
  color:white;
  border-radius: 0;
}

.side_drawer_row
{
  display:block;
  width:100%;
  height:32px;
  padding-top: 4px;
  padding-bottom:4px;
  font-size:15px;
  line-height: 24px;
  /* border:yellow solid 1px; */
}

.word_input_label
{
  display: inline-block;
  height:100%;
  width:40%;
}

.checkbox_input_label
{
  display: inline-block;
  height:100%;
}

.date_input_label
{
  display: inline-block;
  height:100%;
}

.label_disabled
{
  color:var(--color_text_disabled);
}

.side_drawer_input
{
  text-align: center;
  font-family: var(--font_input);
  background-color: var(--color_bcg);
  color:var(--color_text_input);
  border: none;
}

.side_drawer_input:disabled
{
  color:var(--color_text_disabled);
  cursor: default;
}

.word_input
{
  width:58%;
  height:100%;
}

.checkbox_input
{
  cursor:pointer;
  width:18px;
  height:18px;
  margin:3px 4% 3px 1%;
  vertical-align: middle;
}

.parent_select
{
  width:40%;
  height:100%;
  margin-left: 2%;
  background-color: var(--color_tertiary);
  color:var(--color_text_prim);
  font-family:var(--font_input);
  border:none;
  cursor:pointer;
}

.date_input
{
  width: 15%;
  height: 100%;;
  margin-left:2%;
  margin-right:4%;
}

.multiline_input
{
  width:100%;
  min-height: 12vh;
  text-align: left;
  resize: none;
}

/* Zooming stuff */

.zoom_wrapper
{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 50%;
  right:0;
  z-index: 999;
}

.zoom_wrapper button
{
  width:60px;
  height:60px;
  margin-right:30px;
}

.zoom_wrapper button:disabled
{
  background-color: rgb(0, 0, 0, 0.1);
}

/* Family tree stuff */
.family_tree
{
  height:100%;
  position:relative;
  overflow:auto;
}

.family_member
{
  position: absolute;
  top:0px;
  left:0px;
  background-color: var(--color_secondary);

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: top 0.06s, left 0.06s;
}

/*  These are used for in-app zooming:
    It works, because all the children of .family_member use values for size
    relative to the size of the family member, so just by swapping this class
    inside the app, you scale all the relevant stuff, without doing it through
    inline styles, although it would work too.
*/

.family_member_zoom_0
{
  width: 80px;
  height: 40px;
  font-size: 6px;
}

.family_member_zoom_1
{
  width: 120px;
  height: 60px;
  font-size: 9px;
}

.family_member_zoom_2
{
  width: 160px;
  height: 80px;
  font-size: 12px;
}

.family_member_zoom_3
{
  width: 240px;
  height: 120px;
  font-size: 18px;
}

.family_member_zoom_4
{
  width: 320px;
  height: 160px;
  font-size: 24px;
}

.family_member_bar
{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  height:14%;
  font-size:inherit;
  /* vertical-align: top; */
}

.family_member_dragger
{
  position: absolute;
  top:0;
  left:0;
  height:20%;
  /* this makes it square since the whole fam member is in proportions of 2:1 */
  width:10%; 
  cursor:move;
  /* border:1px solid green; */
}

.family_member_dragger img
{
  width:82%;
  height:82%;
  margin-left:3px;
  margin-top:3px;
  filter:invert();
  opacity:0.3;
  pointer-events: none;
}

.family_member_task_button
{
  display: inline-block;
  height:100%;
  min-width:6.66%;
  vertical-align: middle;
  font-size: 55%;
  margin:0;
  background: none;
  padding:0;
}

.family_member_task_button_with_text
{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.family_member_task_icon
{
  height:80%;
  width:auto;
  filter:invert();
  opacity: 0.9;
}

.family_member_icon
{
  height:80%;
  width:auto;
  margin-right:2%;
  filter:invert();
  opacity: 0.9;
}

.family_member_extend
{
  position: absolute;
  bottom:0;
  width:100%;
  height:14%;
  font-size:55%;
}

.family_member_extended
{
  position: absolute;
  top:100%;
  width:100%;
  padding:3%;
  background-color: var(--color_secondary);
  font-size: inherit;
  z-index: 999999;
}

.family_member_name_wrapper
{
  display: flex;
  justify-content: center;
  align-items: center; 
  height:42%;
  position: relative;
  /* border:1px solid yellow; */
}

.family_member_name
{
  color:var(--color_text_prim);
  font-size:100%;
  text-align:center;
  width:100%;
  padding-left: 3%;
  padding-right: 3%;
}

.family_member_info
{
  color:var(--color_text_sec);
  font-size:70%;
}

.family_member_info_single_line
{
  text-align:center;
  height: 14%;
}

.family_member_info_extended
{

}

/* line rendering */

.line_renderer
{
  position: absolute;
  top:0;
  left:0;
}

/* ====== footer stuff ========= */
footer button
{
  color:var(--color_text_tert);
  background:none;
  height:100%;
  font-size: 1.5vh;
  margin-left:1%;
  margin-right:1%;
  transition: color 0.2s;
}

footer button:hover
{
  color:var(--color_text_prim);
  background:none;
}

footer span
{
  display:inline-block;
  height:100%;
  margin-left:1%;
  margin-right:1%;
}

/* =======notice stuff ====== */

.notice
{
  width:35vw;
  height:80vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: var(--color_bcg);
  border: 2px solid var(--color_secondary_alt);
  border-radius: 1%;
  /* box-shadow: 20px 20px var(--color_bcg); */
}

.notice_bar
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:5vh;
  background-color: var(--color_secondary_alt);
  color:var(--color_text_prim);
  box-shadow: 0 0 6px black;
}

.notice_bar p
{
  width:calc(100% - 5vh);
  height:100%;
  line-height: 5vh;
  text-align: center;
}

.notice_close_button
{
  width:5vh;
  height:5vh;
  background-color: var(--color_angry);
}

.notice_content
{
  height:94%;
  padding:2%;
  color:var(--color_text_sec);
  overflow-y: auto;
}